In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('../data/initial_data/SMOKING_TOB_1990_2019_NUM_SMOKERS_updated.CSV')
df.head()

,location_name,sex_name,age_group_name,year_id,val,sub_super_region,super_region
0,Global,Male,15+ years,1990,803101467.1,Global,Global
1,Global,Female,15+ years,1990,189148834.0,Global,Global
2,Global,Both,15+ years,1990,992250301.2,Global,Global
3,Global,Male,15+ years,1991,813897216.4,Global,Global
4,Global,Female,15+ years,1991,190537545.1,Global,Global

In [14]:
regions = ['East Asia','Central Sub-Saharan Africa','Eastern Sub-Saharan Africa', 'Central Asia',
 'Tropical Latin America','Caribbean','High-income North America','Southern Latin America',
 'South Africa', 'Central Europe','Southern Sub-Saharan Africa','Western Sub-Saharan Africa','Southeast Asia',
 'Central Latin America','Western Europe','High-income Asia Pacific','Eastern Europe','Andean Latin America','South Asia']

region = 'Oceania'

# two values for change
sex = 'Male' 
year = 1990

df_smoking = df[df['age_group_name'] == '15+ years']
df_smoking = df_smoking[df_smoking['year_id'] == year]
df_smoking = df_smoking[df_smoking['sex_name'] == sex]
# df_smoking = df_smoking[df_smoking['sub_super_region'] == region]
df_smoking = df_smoking.rename(columns={'val': 'value'})
df_smoking = df_smoking.rename(columns={'location_name': 'name'})
df_subset = df_smoking[['name', 'value']]
# save to file from which you should manually copy data to your main file
df_subset.to_json('../data/sunburst_data/my_data.json', orient='records')