In [64]:
import pandas as pd
import plotly.express as pl

In [66]:
df_smoking = pd.read_csv("data/SMOKING_TOB_1990_2019_NUM_SMOKERS.CSV")
df_smoking.head()

,measure_name,location_id,location_name,sex_id,sex_name,age_group_id,age_group_name,year_id,val,upper,lower
0,Number of Smokers,1,Global,1,Male,29,15+ years,1990,803101467.1,8.096221e+08,795908635.8
1,Number of Smokers,1,Global,2,Female,29,15+ years,1990,189148834.0,1.930929e+08,185559469.9
2,Number of Smokers,1,Global,3,Both,29,15+ years,1990,992250301.2,1.000161e+09,984788043.8
3,Number of Smokers,1,Global,1,Male,29,15+ years,1991,813897216.4,8.200339e+08,806951447.9
4,Number of Smokers,1,Global,2,Female,29,15+ years,1991,190537545.1,1.944249e+08,186974424.5

In [67]:
df_smoking = df_smoking.drop(columns=['measure_name'])
df_smoking = df_smoking.drop(columns=['sex_id'])
df_smoking = df_smoking.drop(columns=['age_group_id'])
df_smoking = df_smoking.drop(columns=['location_id'])
df_smoking = df_smoking.drop(columns=['upper'])
df_smoking = df_smoking.drop(columns=['lower'])
df_smoking.head()

  location_name sex_name age_group_name  year_id          val
0        Global     Male      15+ years     1990  803101467.1
1        Global   Female      15+ years     1990  189148834.0
2        Global     Both      15+ years     1990  992250301.2
3        Global     Male      15+ years     1991  813897216.4
4        Global   Female      15+ years     1991  190537545.1

In [68]:
central_europe = ['Romania', 'Poland', 'Serbia', 'Slovenia', 'Albania', 'Bosnia and Herzegovina',
                  'Bulgaria', 'Croatia', 'Chez Republic', 'Czechia', 'Hungary', 'Macedonia', 'North Macedonia',
                   'Slovakia', 'Montenegro', 'Central Europe']
eastern_europe = ['Eastern Europe', 'Belarus', 'Estonia', 'Latvia', 'Lithuania',
 'Republic of Moldova', 'Russian Federation', 'Ukraine']
central_asia = ['Central Asia', 'Armenia', 'Azerbaijan', 'Georgia', 'Kazakhstan', 'Kyrgyzstan', 'Mongolia',
 'Tajikistan', 'Turkmenistan', 'Uzbekistan']
ce_ee_ca = ['Central Asia', 'Central Europe', 'Eastern Europe', 'Central Europe, Eastern Europe, and Central Asia']

# assign sub super region
df_smoking.loc[df_smoking['location_name'].isin(central_asia), 'sub_super_region'] = "Central Asia"
df_smoking.loc[df_smoking['location_name'].isin(central_europe), 'sub_super_region'] = "Central Europe"
df_smoking.loc[df_smoking['location_name'].isin(eastern_europe), 'sub_super_region'] = "Eastern Europe"
df_smoking.loc[df_smoking['location_name'].isin(['Central Europe, Eastern Europe, and Central Asia']), 'sub_super_region'] = "Central Europe, Eastern Europe, and Central Asia"
# super region 
df_smoking.loc[df_smoking['sub_super_region'].isin(ce_ee_ca), 'super_region'] = "Central Europe, Eastern Europe, and Central Asia"

In [69]:
western_europe = ['Western Europe', 'Andorra', 'Austria', 'Belgium', 'Cyprus', 'Denmark',
 'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Israel',
 'Italy', 'Luxembourg', 'Malta', 'Monaco', 'Netherlands', 'Norway', 'Portugal', 'Spain',
 'Sweden', 'Switzerland', 'United Kingdom', 'Greenland', 'San Marino']
southern_l_a = ['Southern Latin America','Argentina', 'Chile', 'Uruguay']
h_i_north_america = ['High-income North America', 'Canada', 'United States of America']
australasia = ['Australasia', 'Australia', 'New Zealand']
h_i_asia__pacific = ['High-income Asia Pacific', 'Brunei Darussalam', 'Japan', 'Republic of Korea', 'Singapore']
high_income = ['Western Europe', 'Southern Latin America', 'High-income North America', 'Australasia', 'High-income Asia Pacific', 'High-income']

df_smoking.loc[df_smoking['location_name'].isin(western_europe), 'sub_super_region'] = "Western Europe"
df_smoking.loc[df_smoking['location_name'].isin(southern_l_a), 'sub_super_region'] = "Southern Latin America"
df_smoking.loc[df_smoking['location_name'].isin(h_i_north_america), 'sub_super_region'] = "High-income North America"
df_smoking.loc[df_smoking['location_name'].isin(australasia), 'sub_super_region'] = "Australasia"
df_smoking.loc[df_smoking['location_name'].isin(h_i_asia__pacific), 'sub_super_region'] = "High-income Asia Pacific"
df_smoking.loc[df_smoking['location_name'].isin(['High-income']), 'sub_super_region'] = "High-income"
df_smoking.loc[df_smoking['sub_super_region'].isin(high_income), 'super_region'] = "High-income"

In [70]:
caribbean = ['Caribbean', 'Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Cuba', 'Dominica',
 'Dominican Republic', 'Grenada', 'Guyana', 'Haiti', 'Jamaica', 'Saint Lucia',
 'Saint Vincent and the Grenadines', 'Suriname', 'Trinidad and Tobago']
andean_l_a = ['Andean Latin America', 'Bolivia (Plurinational State of)', 'Ecuador', 'Peru', 'Bermuda']
central_l_a = ['Central Latin America', 'Colombia', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Mexico',
                 'Nicaragua', 'Panama', 'Venezuela (Bolivarian Republic of)', 'Puerto Rico', 'Saint Kitts and Nevis', 'United States Virgin Islands']
tropical_l_a = ['Tropical Latin America', 'Brazil', 'Paraguay', 'American Samoa']

latin_america_caribbean = ['Latin America and Caribbean', 'Caribbean', 'Andean Latin America', 'Central Latin America', 'Tropical Latin America']

df_smoking.loc[df_smoking['location_name'].isin(caribbean), 'sub_super_region'] = "Caribbean"
df_smoking.loc[df_smoking['location_name'].isin(andean_l_a), 'sub_super_region'] = "Andean Latin America"
df_smoking.loc[df_smoking['location_name'].isin(central_l_a), 'sub_super_region'] = "Central Latin America"
df_smoking.loc[df_smoking['location_name'].isin(tropical_l_a), 'sub_super_region'] = "Tropical Latin America"
df_smoking.loc[df_smoking['location_name'].isin(['Latin America and Caribbean']), 'sub_super_region'] = "Latin America and Caribbean"

df_smoking.loc[df_smoking['sub_super_region'].isin(latin_america_caribbean), 'super_region'] = "Latin America and Caribbean"

In [71]:
north_africa_middle_east = ['North Africa and Middle East', 'Algeria', 'Bahrain', 'Egypt', 'Iran (Islamic Republic of)',
                             'Iraq', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Palestine', 'Oman', 'Qatar',
                               'Saudi Arabia', 'Syrian Arab Republic', 'Tunisia', 'Turkey', 'United Arab Emirates', 'Yemen']

df_smoking.loc[df_smoking['location_name'].isin(north_africa_middle_east), 'sub_super_region'] = "North Africa and Middle East"
df_smoking.loc[df_smoking['sub_super_region'].isin(['North Africa and Middle East']), 'super_region'] = "North Africa and Middle East"

In [72]:
south_asia = ['South Asia', 'Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Pakistan']

df_smoking.loc[df_smoking['location_name'].isin(south_asia), 'sub_super_region'] = "South Asia"
df_smoking.loc[df_smoking['sub_super_region'].isin(['South Asia']), 'super_region'] = "South Asia"

In [73]:
central_sub_s_a = ['Central Sub-Saharan Africa', 'Angola',
 'Central African Republic', 'Congo', 'Democratic Republic of the Congo',
 'Equatorial Guinea', 'Gabon']
eastern_sub_s_a = ['Eastern Sub-Saharan Africa', 'Burundi', 'Comoros', 'Djibouti', 'Eritrea', 'Ethiopia', 'Kenya', 'Madagascar', 'Malawi',
 'Mauritius', 'Mozambique', 'Rwanda', 'Seychelles', 'Somalia', 'United Republic of Tanzania', 'Uganda', 'Zambia', 'Sudan', 'South Sudan']
southern_sub_s_a = ['Southern Sub-Saharan Africa', 'Botswana', 'Lesotho', 'Namibia', 'South Africa', 'Eswatini', 'Zimbabwe']
western_sub_s_a = ['Western Sub-Saharan Africa', 'Benin', 'Burkina Faso', 'Cameroon', 'Cabo Verde', 'Chad', "CÃ´te d'Ivoire", 'Gambia',
 'Ghana', 'Guinea', 'Guinea-Bissau', 'Liberia', 'Mali', 'Mauritania', 'Niger',
 'Nigeria', 'Sao Tome and Principe', 'Senegal', 'Sierra Leone', 'Togo']
sub_saharan_africa = ['Central Sub-Saharan Africa', 'Eastern Sub-Saharan Africa', 'Southern Sub-Saharan Africa', 'Western Sub-Saharan Africa', 'Sub-Saharan Africa']

df_smoking.loc[df_smoking['location_name'].isin(central_sub_s_a), 'sub_super_region'] = "Central Sub-Saharan Africa"
df_smoking.loc[df_smoking['location_name'].isin(eastern_sub_s_a), 'sub_super_region'] = "Eastern Sub-Saharan Africa"
df_smoking.loc[df_smoking['location_name'].isin(southern_sub_s_a), 'sub_super_region'] = "Southern Sub-Saharan Africa"
df_smoking.loc[df_smoking['location_name'].isin(western_sub_s_a), 'sub_super_region'] = "Western Sub-Saharan Africa"
df_smoking.loc[df_smoking['location_name'].isin(['Sub-Saharan Africa']), 'sub_super_region'] = "Sub-Saharan Africa"
df_smoking.loc[df_smoking['sub_super_region'].isin(sub_saharan_africa), 'super_region'] = "Sub-Saharan Africa"

In [74]:
east_asia = ['East Asia', 'China', "Democratic People's Republic of Korea", 'Taiwan (Province of China)']
southeast_asia = ['Southeast Asia', 'Cambodia', 'Indonesia',  "Lao People's Democratic Republic", 'Malaysia',
                  'Maldives', 'Myanmar', 'Philippines', 'Sri Lanka', 'Thailand', 'Timor-Leste', 'Viet Nam']
oceania = ['Oceania', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia (Federated States of)',
            'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Vanuatu', 'Cook Islands', 'Guam', 'Nauru',
            'Niue', 'Northern Mariana Islands', 'Palau', 'Tokelau', 'Tuvalu', ]
asia_oceania = ['East Asia', 'Southeast Asia', 'Oceania', 'Southeast Asia, East Asia, and Oceania']

df_smoking.loc[df_smoking['location_name'].isin(east_asia), 'sub_super_region'] = "East Asia"
df_smoking.loc[df_smoking['location_name'].isin(southeast_asia), 'sub_super_region'] = "Southeast Asia"
df_smoking.loc[df_smoking['location_name'].isin(oceania), 'sub_super_region'] = "Oceania"
df_smoking.loc[df_smoking['location_name'].isin(asia_oceania), 'sub_super_region'] = "Southeast Asia, East Asia, and Oceania"
df_smoking.loc[df_smoking['sub_super_region'].isin(asia_oceania), 'super_region'] = "Southeast Asia, East Asia, and Oceania"

In [75]:
df_smoking.loc[df_smoking['location_name'].isin(['Global']), 'sub_super_region'] = "Global"
df_smoking.loc[df_smoking['sub_super_region'].isin(['Global']), 'super_region'] = "Global"

In [76]:
# df_smoking.iloc[19980:20970]
df_smoking.head(10)

,location_name,sex_name,age_group_name,year_id,val,sub_super_region,super_region
0,Global,Male,15+ years,1990,8.031015e+08,Global,Global
1,Global,Female,15+ years,1990,1.891488e+08,Global,Global
2,Global,Both,15+ years,1990,9.922503e+08,Global,Global
3,Global,Male,15+ years,1991,8.138972e+08,Global,Global
4,Global,Female,15+ years,1991,1.905375e+08,Global,Global
5,Global,Both,15+ years,1991,1.004435e+09,Global,Global
6,Global,Male,15+ years,1992,8.233148e+08,Global,Global
7,Global,Female,15+ years,1992,1.919026e+08,Global,Global
8,Global,Both,15+ years,1992,1.015217e+09,Global,Global
9,Global,Male,15+ years,1993,8.313873e+08,Global,Global

In [77]:
df_smoking.to_csv('data/SMOKING_TOB_1990_2019_NUM_SMOKERS_updated.CSV', index=False)

In [ ]:
fig = pl.sunburst(data_frame = df_smoking, path=['super_region', 'sub_super_region', 'location_name'])
fig.show()

In [79]:
df = pd.read_csv('data/SMOKING_TOB_1990_2019_NUM_SMOKERS_updated.CSV')
# df.iloc[19980:20970]
df = df[df['sex_name'] == 'Both']
print(len(df))

df = df[df['location_name'] != 'High-income']
df = df[df['location_name'] != 'Global']
df = df[df['location_name'] != 'Southeast Asia, East Asia, and Oceania']
df = df[df['location_name'] != 'Central Europe, Eastern Europe, and Central Asia']
df = df[df['location_name'] != 'Latin America and Caribbean']
df = df[df['location_name'] != 'North Africa and Middle East']
df = df[df['location_name'] != 'South Asia']
df = df[df['location_name'] != 'East Asia']
df = df[df['location_name'] != 'Southeast Asia, East Asia, and Oceania']
df = df[df['location_name'] != 'Southeast Asia']
df = df[df['location_name'] != 'Oceania']
# df = df[df['location_name'] != 'East Asia']

df = df[df['location_name'] != 'Sub-Saharan Africa']



print(len(df))
# df = df.rename(columns={'location_name': 'name'})
# df = df.rename(columns={'val': 'value'})

6990
6600

In [80]:

df.head()

,location_name,sex_name,age_group_name,year_id,val,sub_super_region,super_region
272,China,Both,15+ years,1990,279346994.1,East Asia,"Southeast Asia, East Asia, and Oceania"
275,China,Both,15+ years,1991,285893059.4,East Asia,"Southeast Asia, East Asia, and Oceania"
278,China,Both,15+ years,1992,291247088.1,East Asia,"Southeast Asia, East Asia, and Oceania"
281,China,Both,15+ years,1993,295310851.8,East Asia,"Southeast Asia, East Asia, and Oceania"
284,China,Both,15+ years,1994,297898575.3,East Asia,"Southeast Asia, East Asia, and Oceania"

In [ ]:
df_subset = df[['location_name', 'val']]

In [ ]:
df_subset.head()

In [ ]:
df_subset.to_json('my_data.json', orient='records')

In [115]:
df = pd.read_csv('data/SMOKING_TOB_1990_2019_NUM_SMOKERS_updated.CSV')
df.head()

,location_name,sex_name,age_group_name,year_id,val,sub_super_region,super_region
0,Global,Male,15+ years,1990,803101467.1,Global,Global
1,Global,Female,15+ years,1990,189148834.0,Global,Global
2,Global,Both,15+ years,1990,992250301.2,Global,Global
3,Global,Male,15+ years,1991,813897216.4,Global,Global
4,Global,Female,15+ years,1991,190537545.1,Global,Global

In [116]:

df = df[df['age_group_name'] == '15+ years']
df = df[df['sex_name'] == 'Both']
df = df[df['super_region'] == 'Latin America and Caribbean']
df = df[df['location_name'] != 'Latin America and Caribbean']
df = df[df['location_name'] != 'Caribbean']
df = df[df['location_name'] != 'Central Latin America']
df = df[df['location_name'] != 'Andean Latin America']
df = df[df['location_name'] != 'Tropical Latin America']

df = df.rename(columns={'sub_super_region': 'category'})
df = df.rename(columns={'year_id': 'date'})
df = df.rename(columns={'val': 'value'})
df = df.rename(columns={'location_name': 'name'})

df_subset = df[['date', 'name', 'category', 'value']]

In [117]:
df_subset.head()

      date                 name   category        value
9182  1990  Antigua and Barbuda  Caribbean  2775.856583
9185  1991  Antigua and Barbuda  Caribbean  2894.786411
9188  1992  Antigua and Barbuda  Caribbean  3023.718846
9191  1993  Antigua and Barbuda  Caribbean  3164.718631
9194  1994  Antigua and Barbuda  Caribbean  3315.718113

In [118]:
print(len(df_subset))

1020

In [119]:
df_subset.to_csv('data/bar_chart.CSV', index=False)